.chart {
    border-radius: 12px;
    background-color: #add1fd;
    text-align: center;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 20px;
    left: calc(400px + 20px + 16px + 20px + 16px);
    width: 520px;
    height: 400px;
    padding: 1rem;
    border: 1px solid black;
  }
